In [2]:
x = "halo"

In [3]:
x

'halo'

In [4]:
y=10
y

10

In [5]:
k = 50
k

50

Conditional

In [19]:
if True:
    a=5
    b=2
    jumlah = a+b
    print(jumlah)

7

In [26]:
angka = 40

if angka >= 30 :
    print("angka",angka, "lebih besar atau sama dengan 30")

angka 40 lebih besar atau sama dengan 30

In [28]:
20 > 30

False

In [29]:
35>30

True

In [31]:
angka = 30

if angka > 30 :
    print("angka",angka, "lebih besar dari 30")
elif angka == 30 :
    print("angka adalah sama dengan 30")
else : 
    print("angka",angka, "lebih kecil dari 30")

angka adalah sama dengan 30

In [40]:
score = 110

if score > 80 :
    print("A")
elif score > 70 and score <= 80 :
    print("B")
elif score > 60 and score <= 70 :
    print("C")
elif score > 45 and score <= 60 :
    print("D")
else :
    print("E")

A

In [44]:
# Nested If

nilai = 150

if 0<= nilai <= 100:
    if score > 80 :
        print("A")
    elif score > 70 and score <= 80 :
        print("B")
    elif score > 60 and score <= 70 :
        print("C")
    elif score > 45 and score <= 60 :
        print("D")
    else :
        print("E")
else:
    print("nilai tidak valid")

nilai tidak valid

In [47]:
angka = 5

if angka % 2 != 0 :
    print("Ganjil")
else :
    print("Genap")

Ganjil

In [48]:
cities = ['Madura', 'Majalengka', 'Balikpapan']
nama_kota = 'Bali'

if nama_kota in cities:
    print(f'{nama_kota} merupakan kelompok dari cities')
else :
    print(f'{nama_kota} bukan merupakan kelompok dari cities')

Bali bukan merupakan kelompok dari cities

Looping

1. While Loop

In [67]:
i = 1
yes=[]
while i < 6 :
    print(i)
    yes.append(i)
    i = i + 1 
yes

1
2
3
4
5

[1, 2, 3, 4, 5]

In [71]:
i = 1 

while i <= 10 :
    print(f'5 x {i} = {5*i}')
    i = i + 1

5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50

In [81]:
#Nested While

i = 1
j = 1

while i <= 10 :
    while j <= 10 :
        print(f'{i} x {j} = {i*j}')
        j = j + 1
    print("-"*10)
    i = i + 1
    j = 1

1 x 1 = 1
1 x 2 = 2
1 x 3 = 3
1 x 4 = 4
1 x 5 = 5
1 x 6 = 6
1 x 7 = 7
1 x 8 = 8
1 x 9 = 9
1 x 10 = 10
----------
2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
2 x 10 = 20
----------
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
3 x 10 = 30
----------
4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
4 x 10 = 40
----------
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50
----------
6 x 1 = 6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
6 x 7 = 42
6 x 8 = 48
6 x 9 = 54
6 x 10 = 60
----------
7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
7 x 10 = 70
----------
8 x 1 = 8
8 x 2 = 16
8 x 3 = 24
8 x 4 = 32
8 x 5 = 40
8 x 6 = 48
8 x 7 = 56
8 x 8 = 64
8 x 9 = 72
8 x 10 = 80
----------
9 x 1 = 9
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81
9 x 10 = 90
----------
10 x 1 = 10
10 x 2 = 20
10 x 3 = 30
10 x 4 = 40
10 x 5 = 50
10 x 6 = 60
10 x 7 = 70
10 x 8 = 80
10 x 9 = 90
10 x 10 = 100
----------

2. For Loop

In [82]:
cities = list(cities)
cities

['Madura', 'Majalengka', 'Balikpapan']

In [84]:
makanan = ["soto","sate","rawon"]

In [85]:
for kota in cities :
    print(kota)

Madura
Majalengka
Balikpapan

In [98]:
for kota in range(len(cities)) :
    print(cities[kota])

Madura
Majalengka
Balikpapan

In [97]:
i = 0
while i < len(cities):
    print(cities[i])
    i += 1

Madura
Majalengka
Balikpapan

In [87]:
for jenis in makanan :
    for kota in cities:
        print(jenis, kota)

soto Madura
soto Majalengka
soto Balikpapan
sate Madura
sate Majalengka
sate Balikpapan
rawon Madura
rawon Majalengka
rawon Balikpapan

In [92]:
for i in range (1,11):
    print(f'5 x {i} = {5*i}')

5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50

In [94]:
#Nested loop (for)
for i in range (1,11):
    for j in range (1,11):
        print(f'{i} x {j} = {i*j}')
    print('='*15)

1 x 1 = 1
1 x 2 = 2
1 x 3 = 3
1 x 4 = 4
1 x 5 = 5
1 x 6 = 6
1 x 7 = 7
1 x 8 = 8
1 x 9 = 9
1 x 10 = 10
===============
2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
2 x 10 = 20
===============
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
3 x 10 = 30
===============
4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
4 x 10 = 40
===============
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50
===============
6 x 1 = 6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
6 x 7 = 42
6 x 8 = 48
6 x 9 = 54
6 x 10 = 60
===============
7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
7 x 10 = 70
===============
8 x 1 = 8
8 x 2 = 16
8 x 3 = 24
8 x 4 = 32
8 x 5 = 40
8 x 6 = 48
8 x 7 = 56
8 x 8 = 64
8 x 9 = 72
8 x 10 = 80
===============
9 x 1 = 9
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81
9 x 10 = 90
===============
10 x 1 = 10
10 x 2 = 20
10 x 3 = 30
10 x 4 = 40
10 x 5 = 50
10 x 6 = 60
10 x 7 = 70
10 x 8 = 80
10 x 9 = 90
10 x 10 = 100
===============

In [91]:
list(range(1,11))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

FLOW CONTROL STATEMENT
(Break and Continue)

In [119]:
#break
for i in range (1,11):
    if i in [6]:
        break
    print(i)

1
2
3
4
5